@import "../../scss/base/mixins.scss";

.about-our {
    margin-top: 70px;
    margin-bottom: 60px;
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__img {
        width: 272px;
        height: 355px;
        filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
    }
    &__content {
        margin-left: 80px;
        max-width: 350px;
        h2 {
            text-align: center;
            @include headerText400;
        }
        article {
            margin-top: 25px;
            color: #000;
            text-align: center;
            @include headerText400;
            font-size: 14px;
        }
    }
}
