.about-our-beans {
    margin-top: 70px;
    margin-bottom: 60px;
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__img {
        width: 272px;
        height: 355px;
        filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
    }
    &__content {
        margin-left: 80px;
        max-width: 350px;
        h2 {
            text-align: center;
            color: #000;
            font-family: Merienda;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        article {
            margin-top: 25px;
            color: #000;
            text-align: center;
            font-family: Merienda;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}
