@import "../../scss/base/mixins.scss";

.catalog {
    &-cards {
        margin-top: 60px;
        margin-bottom: 60px;
        .catalog-item {
            filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
            width: 220px;
            height: 260px;
            &__country {
                margin-top: 10px;
                width: 175px;
                @include headerText400(14px);
                text-align: right;
            }
            &__title {
                width: 175px;
                text-align: right;
            }
            &__img {
                height: 115px;
            }
        }
    }
    &__wrapper {
        flex-wrap: wrap;
        align-content: space-between;
        height: 580px;
        a {
            text-decoration: none;
        }
    }
}
