@import "../../scss/base/mixins.scss";

.footer {
    margin: 0 auto;
    height: 150px;
    .menu {
        margin: 30px auto 35px auto;
        li {
            @include headerText400(12px);
            a {
                text-decoration: none;
                color: #000000;
            }
        }
    }
    &__logo {
        display: block;
        margin: 0 auto;
    }
}
