.menu {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: baseline;
    max-width: 355px;
    list-style: none;

    li {
        color: #fff;
        font-family: Merienda;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
