@import "../../scss/base/mixins.scss";

.our-best {
    height: 500px;
    background: url("../../img/our-best/our-best-bg.png") center (center / cover) no-repeat;
    h2 {
        margin: 0;
        padding-top: 80px;
        padding-bottom: 40px;
        text-align: center;
        @include headerText400;
    }
}

.catalog {
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 800px;
    }
    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 220px;
        height: 240px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.65);
        &__img {
            margin: 35px auto 0 auto;
            display: block;
            height: 134px;
            max-width: 100%;
        }
        &__title {
            margin-top: 10px;
            text-align: center;
            @include headerText400(14px);
        }
        &__price {
            width: 175px;
            margin-top: 10px;
            text-align: right;
            @include headerText400(14px);
        }
    }
}
